
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

h1 {
    margin: 0;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 1px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.form-container {
    flex: 1;
    max-width: 500px;
    width: 100%;
    margin-bottom: 20px;
}

.preview-container {
    flex: 1;
    max-width: 500px;
    width: 100%;
}
h4{
    text-align: center;
}